.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contentBox {
  min-width: 45vw;
  min-height: 99vh;
}

#editor {
  width: 75%;
  min-height: 80vh;

}

#preview {
  box-sizing: border-box;
  width: 100%;
  min-height: 80vh;
  border: none;
  border-radius: 2px;
  padding: 0.15em 1.5em;

  background-color: aliceblue;
  color: #282c34;

  font-size: calc(10px + 1.25vmin);
  text-align: left;

}